<header class="site-header">
	<ul class="row">
		<li class="col-xs-12 col-md-2"><a href="/"><img class="img-responsive" src="/images/logo.svg" width=128 alt="Adamant Logo"></a></li>
		<li class="col-xs-12 col-md-10">
			<ul class="menu">
				<li><h2><a href="/documentation">Documentation</a></h2></li>
				<li><h2><a href="/community">Community</a></h2></li>
				<li><h2><a href="/downloads">Downloads</a></h2></li>
				<li><h2><a href="/contribute">Contribute</a></h2></li>
			</ul>
		</li>
	</ul>
</header>
